img {
    cursor: pointer;
}

.data {
    display: grid;
    grid-template-columns: 300px auto;

}

.FileData {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;

}


.out {
    margin-top: 100px;
    margin-left: 50px;

}